In [190]:
# Import the required libraries and dependencies
import os
import re
from pathlib import Path
import pandas as pd
from dotenv import load_dotenv
from bs4 import BeautifulSoup
import re

In [275]:
twitter_df = pd.read_csv(
    Path('../TWITTER/twitter_data.csv'),
    header = None,
    parse_dates=True,
    infer_datetime_format=True).dropna()

twitter_df.head()

,0,1,2,3
0,"b'JOI, humiliation tasks, and foot worship ses...",0,0,2021-10-03 23:59:05
1,b'We have two choice hold $CEI or sell $CEI . ...,0,0,2021-10-03 23:58:54
2,b'Anyone selling foot or lip pics DM me or com...,1,0,2021-10-03 23:51:15
3,b'RT @LuisNav14: Stocks I\xe2\x80\x99m either ...,0,1,2021-10-03 23:49:44
4,b'Stocks I\xe2\x80\x99m either in or watching ...,6,1,2021-10-03 23:47:22

In [276]:
tweets_df = twitter_df.iloc[:,[3,0]]
tweets_df.columns = ['Date','Tweet']

tweets_df

                     Date                                              Tweet
0     2021-10-03 23:59:05  b'JOI, humiliation tasks, and foot worship ses...
1     2021-10-03 23:58:54  b'We have two choice hold $CEI or sell $CEI . ...
2     2021-10-03 23:51:15  b'Anyone selling foot or lip pics DM me or com...
3     2021-10-03 23:49:44  b'RT @LuisNav14: Stocks I\xe2\x80\x99m either ...
4     2021-10-03 23:47:22  b'Stocks I\xe2\x80\x99m either in or watching ...
...                   ...                                                ...
1308  2021-09-27 00:40:50  b"@unusual_whales A lot of butt hurt people in...
1309  2021-09-27 00:39:57  b"@facelessf3mme @unusual_whales This guy sell...
1310  2021-09-27 00:31:00  b'RT @LuisNav14: Stocks I\xe2\x80\x99m either ...
1311  2021-09-27 00:14:38  b'RT @likeagirlfrnd: unless youre looking for ...
1312  2021-09-27 00:06:11  b'Thinking of a couple names when it\xe2\x80\x...

[1313 rows x 2 columns]

In [234]:
def clean_text(article):
    sw = set(stopwords.words('english'))
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', article)
    words = word_tokenize(re_clean)
    output = [word.lower() for word in words if word.lower() not in sw]
    return output

In [277]:
tweets_df = twitter_df.iloc[:,[3,0]]
tweets_df.columns = ['Date','Tweet']

#tweets_df

In [272]:
def strip_tweets(input_txt):

   #remove mentions
   pattern1 = r'@[A-Za-z0-9]+' 

    #remove hashtags
   pattern2 = r'#[A-Za-z0-9]+'

   # remove URLs
   pattern3 = r'https?://[A-Za-z0-9./]+' 

   combined_pattern = r'|'.join((pattern1, pattern2, pattern3))
   input_txt = re.sub(combined_pattern, '',input_txt)

   return input_txt

In [239]:
def remove_html(input_txt):
    input_txt = BeautifulSoup(input_txt).get_text()
    return input_txt

In [260]:
def remove_punctuation(input_txt):


# initializing punctuations string
  punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 # Removing punctuations in string
# Using loop + punctuation string
  for ele in input_txt:
    if ele in punc:
        out_txt = input_txt.replace(ele, '')
    return out_txt

In [257]:

 def remove_pattern(input_txt):
    r = re.findall(r"@(w+)", input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)      
    return input_txt

In [278]:

clean_tweets = []

for tweet in tweets_df['Tweet']:

#remove the first character of the string
# Remove first character from string if matches 'b'
 tweet = tweet.lstrip('b')

# Remove Re-Tweet first character from string if matches RT
 tweet = tweet.lstrip("RT :")


#Strips inheriant characters in tweets
 stripped = strip_tweets(tweet)

 #remove html characters
 stripped = remove_html(stripped)

 # Remove  punctuation
 striped = remove_punctuation(stripped)

 # make all letters lower case - avoids case sensitive issues with the model
 stripped = stripped.lower()
 
 #cleaned = stripped.''.decode("utf-8-sig").replace(u"\ufffd", "?")
 clean_tweets.append(stripped)

In [282]:
clean_tweets_df = pd.DataFrame(clean_tweets,columns=['tweet'])
clean_tweets_df['date'] = tweets_df['Date']
clean_tweets_df.head()

                                               tweet                 date
0  'joi, humiliation tasks, and foot worship sess...  2021-10-03 23:59:05
1  'we have two choice hold $cei or sell $cei . y...  2021-10-03 23:58:54
2  'anyone selling foot or lip pics dm me or comm...  2021-10-03 23:51:15
3  'rt : stocks i\xe2\x80\x99m either in or watch...  2021-10-03 23:49:44
4  'stocks i\xe2\x80\x99m either in or watching t...  2021-10-03 23:47:22

In [281]:
output = Path('../TWITTER/twitter_data_CLEANED.csv')
clean_tweets_df.to_csv(output)